<div class="logo-container">
  <a href="../home/home.html">
    <img
      class="logo"
      src="../../../assets/twitter-logo.svg"
      alt="Twitter logo"
    />
  </a>
</div>
<nav class="sidebar">
  <ul class="sidebar-list">
    <li><a href="../home/home.html" class="btn">Home</a></li>
    <li><a href="#" class="btn">Explore</a></li>
    <li>
      <a href="../notification/notification.html" class="btn notification-link"
        >Notifications</a
      >
    </li>
    <li><a href="#" class="btn">Messages</a></li>
    <li>
      <button class="btn" id="profile-link">Profile</button>
    </li>
    <li><a href="#" class="btn">More</a></li>
  </ul>
</nav>
